.fa-xmark {
    color: #333333;
}

.filter-container-search {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}

.filter-container-location {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.filter-container-line {
    border-top: 1px solid #F2F2F2;
}

.filter-container-location-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    cursor: pointer;
}

.filter-container-location-txt {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase;
    color: #333333;
}

.filter-container-guests-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.filter-container-guests-subtitle {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #BDBDBD
}
